@import "tailwindcss";

.input {
    @apply  py-1 my-1 outline-none border-b-2 border-b-amber-500;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.button {
  @apply px-3 py-1 text-white font-semibold cursor-pointer my-2 rounded-xl
}

.box-shadow{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}